body {
    margin: 0;
    background: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

#menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
a{
    text-decoration: none;  
}
.TieuDe {
    font-size: 50px;
    margin-bottom: 60px;
    animation: introTitle 1.5s ease-out forwards, glowEffect 2s ease-in-out 1.5s infinite alternate;
    position: relative
}

button {
    display: block;
    width: 230px;
    margin: 30px auto;
    padding: 25px;
    font-size: 25px;
    background: rgb(0, 128, 23);
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: rgb(137, 238, 130);
    transform: scale(1.1);
}
@keyframes introTitle {
    0% {
        transform: scale(0.3) translateY(150px);
        opacity: 0;
    }
    70% {
        transform: scale(1.3) translateY(-30px);
        text-shadow: 0 0 50px violet;
    }
    100% {
        transform: scale(1.3) translateY(-40px);
        opacity: 1;
    }
}
@keyframes glowEffect {
    0% {
        text-shadow: 0 0 15px #8a2be2,
                     0 0 30px #8a2be2,
                     0 0 60px #4b0082;
    }
    100% {
        text-shadow: 0 0 30px #da70d6,
                     0 0 60px #da70d6,
                     0 0 100px #9400d3;
    }
}