body{
    margin:0;
    height:100vh;
    font-family: Arial, sans-serif;
    background-color:#28a745; /* nền xanh cũ */
    position:relative;
}

/* ===== ID góc trên trái ===== */
.top-bar{
    position:absolute;
    top:20px;
    left:30px;
    background:gold;
    padding:15px 33px;
    border-radius:25px;
    border:3px solid black;
    font-weight:bold;
    font-size:25px;
}
.CuaSoDatTen{
    position: fixed;
    width: 40%;
    height: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(156, 93, 216, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}
.HopCuaso{
    background: white;
    padding: 80px;
    border-radius: 10px;
    text-align: center;
}
input, #XacNhan{
    font-size: 20px;
}

/* ===== Menu bên trái ===== */
.left-menu{
    position:absolute;
    top:200px;
    left:60px;
    display:flex;
    flex-direction:column;
    gap:35px;
}

.menu-btn{
    background:#f5deb3;
    border:3px solid black;
    padding:18px 40px;
    border-radius:20px;
    font-size:22px;
    cursor:pointer;
    box-shadow:3px 3px 0px #000;
}

/* ===== Menu bên phải ===== */
.right-menu{
    position:absolute;
    top:230px;
    right:80px;
    display:flex;
    flex-direction:column;
    gap:45px;
}

.explore{
    background:#ff9db2;
}

.shop{
    background:#b19cd9;
}
button:hover {
    transform: scale(1.1);
}
/* ===== Khu vực nhân vật giữa ===== */
.character-area{
    position:absolute;
    top:120px;
    left:300px;
    right:300px;
    bottom:120px;
    border:3px dashed white;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:26px;
    font-weight:bold;
    color:white;
}
